.rootLayout {
  padding: 5px 64px;
  height: 100vh;
  display: flex;
  flex-direction: column;

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      display: flex;
      align-items: center;
      font-weight: bold;

      img {
        width: 150px;
        height: 150px;
      }
    }
  }

  main {
    flex: 1;
    overflow: hidden;
  }
}
